@font-face {
  font-family: 'TTTogether';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* ----------------------------------------------------------- */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* ----------------------------------------------------------- */

.join-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 520px;
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  gap: 20px;
}

.join-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'TTTogether';
  font-size: 45px;
  text-align: center;
  height: 135px;
}

.join-title-type-b {
  color: white;
  -webkit-text-stroke: 1px black;
}

/* ----------------------------------------------------------- */

.name-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

.name-title {
  display: flex;
  align-items: center;
  height: 30px;
  color: rgb(50, 50, 50);
  font-family: 'SUITE-Regular';
  margin-bottom: 5px;
}

.name-title-text {
  font-size: 15px;
  padding-bottom: 2px;
}

.name-icon {
  display: flex;
  align-items: center;
  opacity: 0.9;
  width: 16px;
  margin: 0 5px 0 2px;
}

.name-input {
  width: 210px;
  height: 37px;
  padding-left: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  font-family: 'SUITE-Regular';
  outline: none;
}

/* ----------------------------------------------------------- */

.room-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.room-title {
  display: flex;
  align-items: center;
  height: 30px;
  color: rgb(50, 50, 50);
  font-family: 'SUITE-Regular';
  margin-bottom: 5px;
}

.room-title-text {
  font-size: 15px;
  padding-bottom: 2px;
}

.room-icon {
  display: flex;
  align-items: center;
  opacity: 0.9;
  width: 16px;
  margin: 0 5px 0 0;
}

.room-input {
  width: 210px;
  height: 37px;
  padding-left: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  font-family: 'SUITE-Regular';
  outline: none;
}

/* ----------------------------------------------------------- */

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.join-button {
  width: 125px;
  height: 44px;
  border: none;
  font-family: 'SUITE-Regular';
  color: white;
  background-color: rgb(40, 40, 40);
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
}

.join-button:hover {
  cursor: pointer;
  color: rgb(40, 40, 40);
  background-color: white;
  border: 1px solid rgb(40, 40, 40);
  transition: all 0.2s ease-in-out;
}
